{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ pictures[0].photographer }}</h2>
    <section class="pic-list">

        {% for picture in pictures %}

            <a href="{{ path('picture_detail', {'id': picture.id}) }}" title="View pic detail">
                <img src="{{ picture.smallUrl }}" class="pic" alt="{{ picture.title }}">
            </a>

        {% endfor %}

    </section>
{% endblock %}

{% block title %}

{% endblock %}

